# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [10]:
import pandas as pd
import numpy as np

# Seu código aqui

anomalia_termica = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

serie_anomalia_termica = pd.Series(anomalia_termica)

print(serie_anomalia_termica)

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [12]:

# seu código aqui
ano = [1900, 1920, 1940, 1960, 1980, 2000, 2020]

serie_anomalia_termica = pd.Series(anomalia_termica, index=ano)

print(serie_anomalia_termica)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [14]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui

serie_temperaturas = pd.Series(dic_temperaturas)

print(serie_temperaturas)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [15]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

df = pd.DataFrame(arr)

print(df)

             0           1           2
0   102.789797   93.661522   97.491229
1    98.053033   84.713937   95.266842
2    95.868537  112.234269   87.338091
3   110.133245   91.096503  110.873202
4   102.030862   93.968819  104.967797
5   109.560852   87.344139  118.149425
6   100.976808   99.999036  109.384962
7    93.123218   96.312493   99.136739
8    99.647237   94.197041  127.369718
9    83.952364  102.121919   90.004592
10  103.108915  108.424844   80.050474
11  110.970495  100.129901  105.519322
12  113.216682  103.366618   93.168080
13  102.387733   86.116271  108.387369
14   99.101006  105.131240   99.711461
15   91.676378   87.463635   91.756833
16  103.418772  100.372326  100.436696
17   90.940495  106.495448   94.360620
18  109.958937  112.857201  120.777508
19  100.619848  103.553724  109.736386

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [16]:
#seu código aqui

indices = range(1, 21)
colunas = ['x1', 'x2', 'x3']

df = pd.DataFrame(arr, index=indices, columns=colunas)

print(df)

            x1          x2          x3
1   102.789797   93.661522   97.491229
2    98.053033   84.713937   95.266842
3    95.868537  112.234269   87.338091
4   110.133245   91.096503  110.873202
5   102.030862   93.968819  104.967797
6   109.560852   87.344139  118.149425
7   100.976808   99.999036  109.384962
8    93.123218   96.312493   99.136739
9    99.647237   94.197041  127.369718
10   83.952364  102.121919   90.004592
11  103.108915  108.424844   80.050474
12  110.970495  100.129901  105.519322
13  113.216682  103.366618   93.168080
14  102.387733   86.116271  108.387369
15   99.101006  105.131240   99.711461
16   91.676378   87.463635   91.756833
17  103.418772  100.372326  100.436696
18   90.940495  106.495448   94.360620
19  109.958937  112.857201  120.777508
20  100.619848  103.553724  109.736386

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [17]:
# seu código aqui

media = df.mean(axis=1)

df['media'] = media

print(df)

            x1          x2          x3       media
1   102.789797   93.661522   97.491229   97.980850
2    98.053033   84.713937   95.266842   92.677937
3    95.868537  112.234269   87.338091   98.480299
4   110.133245   91.096503  110.873202  104.034317
5   102.030862   93.968819  104.967797  100.322493
6   109.560852   87.344139  118.149425  105.018139
7   100.976808   99.999036  109.384962  103.453602
8    93.123218   96.312493   99.136739   96.190817
9    99.647237   94.197041  127.369718  107.071332
10   83.952364  102.121919   90.004592   92.026292
11  103.108915  108.424844   80.050474   97.194744
12  110.970495  100.129901  105.519322  105.539906
13  113.216682  103.366618   93.168080  103.250460
14  102.387733   86.116271  108.387369   98.963791
15   99.101006  105.131240   99.711461  101.314569
16   91.676378   87.463635   91.756833   90.298949
17  103.418772  100.372326  100.436696  101.409265
18   90.940495  106.495448   94.360620   97.265521
19  109.958937  112.857201  120.777508  114.531215
20  100.619848  103.553724  109.736386  104.636653

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [18]:
# seu código aqui

df['log_med'] = np.log(media)

print(df)

            x1          x2          x3       media   log_med
1   102.789797   93.661522   97.491229   97.980850  4.584772
2    98.053033   84.713937   95.266842   92.677937  4.529130
3    95.868537  112.234269   87.338091   98.480299  4.589857
4   110.133245   91.096503  110.873202  104.034317  4.644721
5   102.030862   93.968819  104.967797  100.322493  4.608390
6   109.560852   87.344139  118.149425  105.018139  4.654133
7   100.976808   99.999036  109.384962  103.453602  4.639123
8    93.123218   96.312493   99.136739   96.190817  4.566334
9    99.647237   94.197041  127.369718  107.071332  4.673495
10   83.952364  102.121919   90.004592   92.026292  4.522074
11  103.108915  108.424844   80.050474   97.194744  4.576717
12  110.970495  100.129901  105.519322  105.539906  4.659089
13  113.216682  103.366618   93.168080  103.250460  4.637158
14  102.387733   86.116271  108.387369   98.963791  4.594754
15   99.101006  105.131240   99.711461  101.314569  4.618230
16   91.676378   87.463635   91.756833   90.298949  4.503126
17  103.418772  100.372326  100.436696  101.409265  4.619164
18   90.940495  106.495448   94.360620   97.265521  4.577445
19  109.958937  112.857201  120.777508  114.531215  4.740847
20  100.619848  103.553724  109.736386  104.636653  4.650494